// Variables
$height-of-container: 100vh;
$width-of-container: 100vw;
$height-of-hostel: 400px;
$width-of-hostel: 300px;
$main-color: #d3d4ff;
$primary-color: #070944;
$secondary-color: #edeef5;

// ScrollBar
/* width */
::-webkit-scrollbar {
	width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	font-family: sans-serif;
	overflow-x: hidden;
}

.main-view {
	padding: 2em 0;
	width: $width-of-container;
	min-height: $height-of-container;
	display: flex;
	justify-content: center;
	align-items: center;

	.hostels {
		width: 1000px;
		min-height: $height-of-hostel;

		display: flex;
		flex-direction: column;
		align-items: center;

		.title {
			margin-bottom: 2em;
			text-align: center;

			#errors {
				color: rgb(214, 4, 4);
				font-weight: 700;
			}
		}

		.buildings {
			width: 100%;
			height: auto;
			margin-bottom: 2em;

			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;

			.hostel {
				overflow-y: scroll;
				min-width: $width-of-hostel;
				max-width: $width-of-hostel;
				max-height: $height-of-hostel;
				min-height: $height-of-hostel;
				border-radius: 15px;
				padding: 1em;
				border: 1px solid $primary-color;
				margin-bottom: 1em;

				display: flex;
				align-items: center;
				flex-direction: column;

				.hostel-title {
					font-weight: 600;
					font-size: 2rem;
					margin-bottom: 1.5em;
				}

				.hostel-rooms {
					width: 100%;
					justify-content: center;
					display: flex;
					flex-wrap: wrap;

					.room {
						border: 1px solid $primary-color;
						border-radius: 5px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 10px;
						width: 50px;
						height: 50px;
						transition: 0.2s ease;

						&:hover {
							background-color: $main-color;
							cursor: pointer;
							transition: 0.2s ease;
						}
					}
					#pickedRoom {
						&:hover {
							background-color: $main-color;
						}
					}
				}
			}
		}

		select {
			margin-top: -30px;
			border-radius: 10px;
			margin-bottom: 20px;
			height: 22px;
			width: 150px;
			background-color: transparent;
			border: 1px solid $primary-color;
			outline: none;
		}
		.actions {
			.confirm-button {
				padding: 1em 3em;
				background: $primary-color;
				border: none;
				color: $main-color;
				border-radius: 15px;
			}
		}
	}
}

.confirmation-modal {
	width: $width-of-container;
	height: $height-of-container;
	background-color: #07094479;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;

	display: none;
	justify-content: center;
	align-items: center;

	.modal-body {
		width: 400px;
		border-radius: 15px;
		height: 300px;
		background-color: $secondary-color;
		border: 1px solid $primary-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.3rem;

		.body-question {
			margin: 5px;
			color: $primary-color;
		}

		.body-warning {
			font-size: 1rem;
			color: rgb(73, 23, 23);
			font-weight: 700;
		}
		.body-options {
			margin-top: 20px;

			.btn {
				color: $main-color;
				font-size: 1rem;
				border: 1px solid $primary-color;
				border-radius: 10px;
				height: 50px;
				width: 70px;
				transition: all 0.1s ease-in;

				&:hover {
					background-color: $main-color;
					color: #000;
				}
			}

			.yes {
				background-color: $primary-color;
				margin-left: 30px;
			}

			.no {
				color: #000;
			}
		}
	}
}

.modal-visible {
	display: flex;
}
